.App {
  text-align: center;
}
body{
  background-color: rgb(0, 0, 0);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box{
  margin: 0 auto;
  height: 300px;
  width: 500px;
  background-color: transparent;
  border:1px solid rgb(45, 247, 0);
  padding-top: 30px;
  border-radius: 20px;
  text-align: center;
  transition: all 0.5s;
  filter: sepia(100%);
  
}
.box:hover{
  filter: sepia(0%);
}
input{
  width: 200px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgb(255, 0, 0);
  padding: 15px 20px;
  margin: 21px;
  border-radius: 15px;
  font-size: 20px;
  color: rgb(255, 0, 0);
}
button{
  display: block;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
  border: 2px solid red;
  margin-top: 12px;
  padding: 10px 15px;
  font-size: 20px;
  color: red;
  border-radius: 15px;
  font-weight: 700;
  cursor: pointer;
  transition:all 0.5s;
}
button:focus{
  background-color: white;
  color: black;
  border-color: rgb(123, 123, 123);
}
h1,h2{
  color: rgb(255, 0, 0);
}